input {
	margin: 1% 0 1% 0;
}

.btn-info{
	margin: .5% 0 .5% 0;
}

.well{
	margin-left: 0%;
	background-color: blue;
}

.giphy{
	margin: .3%;
}

#resGiphy{
	margin: 1% 0% 1% 0%;
	/*float: left;*/
}

#submitButton{
	margin: 1% 0 1% 0;
}

#showResults{
	margin-left: 0%;
}